{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block content %}

<div class="row content">
    <div class="row mb-3">
        <div class="col-sm-12">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Title</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Read</th>
                    <th scope="col">Published</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for p in paper_list %}
                  <tr id="{{ p.id }}">
                      <td>{{ p.subject.name }}</td>
                      <td style="word-wrap:break-word;min-width:500px;max-width:800px;">{{ p.title }}</td>
                      <td style="word-wrap:break-word;min-width:50px;max-width:200px;">{{ p.authors }}</td>
                      <td class="is_read"><span class="badge rounded-pill {% if p.is_read %}bg-success{% else %}bg-danger{% endif %}">{% if p.is_read %}Yes{% else %}No{% endif %}</span></td>
                      <td>
                        {{ p.published_date|date:"Y-m-d H:m:s" }}
                      </td>
                      <td>
                        {{ p.updated_date|date:"Y-m-d H:m:s" }}
                      </td>
                      <td style="word-wrap:break-word;min-width:80px;max-width:100px;">
                        <button type="button" {% if p.is_read %}disabled{% endif %} class="btn btn-primary btn-sm mark-action" pid="{{ p.id }}">Mark as read</button>
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
<script>
  
  $('.mark-action').click(function(e){
    
    var that = $(this);
    var paper_id = $(this).attr("pid");
    
    $.ajax({
        url: "{% url 'mark_as_read' %}" + "?pid=" + paper_id,
        dataType: 'json',
        success: function(res) {
          if (res) {
            $("#" + paper_id + " .is_read").html('<span class="badge rounded-pill bg-success">Yes</span>');
            console.log("=== Mark as read successed. ===");
            console.log(res);
            console.log($("#" + paper_id + " .is_read"));
          } else {
            console.log(res.errors)
          }
        },
        complete: function () {
          that.attr("disabled", true);;
        },
        error:function(request, status, error) {
            console.log("ajax call went wrong:" + request.responseText);
        }
    });
  });
</script>
{% endblock %}
